<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368421924159-69l8d2qifi8k3slgrq4fchpcakmom1l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368421924159-69l8d2qifi8k3slgrq4fchpcakmom1l5</string>
	<key>API_KEY</key>
	<string>AIzaSyCZGxTWjztVRoQMaFPrnb6fZdvD8Sq6Okg</string>
	<key>GCM_SENDER_ID</key>
	<string>368421924159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwordKeeper</string>
	<key>PROJECT_ID</key>
	<string>password-keeper-ba9a8</string>
	<key>STORAGE_BUCKET</key>
	<string>password-keeper-ba9a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368421924159:ios:acc8d80bdc24a1b3cef78a</string>
</dict>
</plist>